@page "/TasksList"
@using KSGantt.Db
@rendermode InteractiveServer
@inject DialogService DialogService

<PageTitle>Úkoly</PageTitle>
<RadzenText TextStyle="TextStyle.H5">ÚKOLY</RadzenText>
<RadzenDataGrid PageSize="10" AllowPaging="true" AllowSorting="true" ColumnWidth="200px" Data="@innerList" AllowFiltering="true" >
    <Columns>
        <RadzenDataGridColumn TItem="KSTask" Width="50px" Property="Color" Title="Barva" TextAlign="TextAlign.Center">
            <Template Context="KSTask">
                <div style="width: 50px; height: 19px; background-color: @KSTask.Color;"></div>
            </Template>
        </RadzenDataGridColumn>
        <RadzenDataGridColumn Property="@nameof(KSTask.Id)" Title="ID" Visible="false" />
        <RadzenDataGridColumn Property="KSTask.Category.Name" Title="Kategorie" SortProperty="Category.Name" />
        <RadzenDataGridColumn Property="@nameof(KSTask.Name)" Title="Název" />
        <RadzenDataGridColumn Property="@nameof(KSTask.HoursCount)" Title="Odhad pracnosti" FormatString="{0:n1}" />
        <RadzenDataGridColumn Property="@nameof(KSTask.CreateDate)" Title="Vytvořeno" />
    </Columns>
</RadzenDataGrid>

@code {
    List<KSTask> innerList;

    protected override Task OnInitializedAsync()
    {
        innerList = Db.DbHelper.tasks;
        return base.OnInitializedAsync();

    }

    // void RowRender(RowRenderEventArgs<KSTask> args)
    // {

    //     if (args.Data.Color != null)
    //     {
    //         args.Attributes.Add("style", $"background-color:{args.Data.Color};");


    //     }

    // }

}